* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
#app {
    height: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}
.flex {
    display: flex;
}
.content {
    overflow-y: auto;
}
table {
    width: 100%;
}
table, th, td {
    border: none;
    
}
th, td {
    border-bottom: 1px solid #ddd;
}
.aff {
    border-bottom: 4px dashed orange;
}
.btns {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
.pd10 {
    padding: 10px;
}
.flex {
    display: flex;
}
.f-1 {
    flex: 1
}
.card {
    max-height: 30vh;
    overflow-y: auto;
}
