* {
    margin: 0;
    padding: 0;
}
#app {
    padding: 16px;
}
.flex {
    display: flex;
}
table {
    width: 100%;
}
table, th, td {
    border: none;
    
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.aff {
    border-bottom: 10px solid orange;
}
.btns {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}