<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <script src="./js/vue.js"></script>
    <script src="./js/element-plus.js"></script>
    <link rel="stylesheet" href="./css/element.css" />
    <link rel="stylesheet" href="./css/index.css" />
</head>
<body>
    <div id="app">
        <div class="btns">
            <div>
                <el-button type="success" @click="showRow = !showRow">{{ showRow ? '隐藏' : '显示' }}分隔行</el-button> &nbsp;
                <template v-if="showRow">
                    <span>分隔行: </span>
                    <el-input v-model="spaceRow" style="width: 100px" placeholder="分隔行" />
                </template>
            </div>
            <el-button type="primary" @click="handleAdd">添加行</el-button>
        </div>
        <table class="table" border="1px">
            <tr>
                <th v-for="(item, i) in columns" :key="i" style="text-align: start;">{{ item.label }}</th>
            </tr>
            <tbody>
                <tr v-for="(item, i) in data" :key="i">
                    <div>{{ i }}</div>
                    <td v-for="(col, _i) in columns" :key="_i" :class="{aff: showRow && (i % spaceRow === spaceRow - 1)}">
                        <div v-if="col.prop === 'a'">
                            <el-input v-model="data[i][col.prop]" style="width: 140px" :placeholder="col.label" />
                        </div>
                        <div v-else-if="col.prop === 'b'">
                            <el-input v-model="data[i][col.prop]" style="width: 140px" :placeholder="col.label" />
                        </div>
                        <div v-else-if="col.prop === 'blance'">
                            <el-input v-model="data[i][col.prop]" style="width: 140px" :placeholder="col.label" />
                        </div>
                        <div v-else-if="col.prop === 'status'">
                            <el-button v-if="!data[i][col.prop] || data[i][col.prop] === 1" type="success" size="small" @click="data[i][col.prop] = 1">成功</el-button>
                            <el-button v-if="!data[i][col.prop] || data[i][col.prop] === 2" type="danger" size="small" @click="data[i][col.prop] = 2">失败</el-button>
                        </div>
                        <div v-else-if="col.prop === 'index'">
                            {{ data.length - i }}
                        </div>
                        <div v-else-if="col.prop === 'ablance'">
                            <span>{{ item.a }} {{ item.blance }}</span>
                            <el-button plain type="success" size="small" @click="handleCopy(`${item.a} ${item.blance}`)">复制</el-button>
                        </div>
                        <div v-else-if="col.prop === 'bblance'">
                            <span>{{ item.b }} {{ item.blance }}</span>
                            <el-button plain type="success" size="small" @click="handleCopy(`${item.b} ${item.blance}`)">复制</el-button>
                        </div>
                        <div v-else-if="col.prop === 'opt'">
                            <el-button plain type="danger" size="small" @click="handleDel(i)">删除</el-button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
    <script>
        const { createApp, ref, watch, computed } = Vue
        const app = createApp({
            setup() {
                const dd = localStorage.getItem('data')
                const data = ref(dd ? JSON.parse(dd) : [{}])
                const spaceRow = ref(3)
                const showRow = ref(false)
                const columns = ref([
                    { label: 'A账号', prop: 'a' },
                    { label: 'B账号', prop: 'b' },
                    { label: '余额', prop: 'blance' },
                    { label: '状态', prop: 'status' },
                    { label: '序号', prop: 'index' },
                    { label: 'A账号余额', prop: 'ablance' },
                    { label: 'B账号余额', prop: 'bblance' },
                    { label: '操作', prop: 'opt' },
                ])
                const handleDel = (i) => {
                    data.value.splice(i, 1)
                }
                const handleAdd = () => {
                    data.value.unshift({})
                }
                const handleCopy = (txt) => {
                    navigator.clipboard.writeText(txt)
                    alert('复制成功: ' + txt)
                }
                const handleSave = () => {
                    localStorage.setItem('data', JSON.stringify(data.value))
                }
                
                // 自动保存
                watch(data.value, () => {
                    handleSave()
                })
                return {
                    data,
                    columns,
                    spaceRow,
                    showRow,
                    handleCopy,
                    handleDel,
                    handleAdd,
                }
            }
        })
        app.use(ElementPlus)
        app.mount('#app')
    </script>
</body>
</html>