<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <script src="./js/vue.js"></script>
    <script src="./js/element-plus.js"></script>
    <link rel="stylesheet" href="./css/element.css" />
    <link rel="stylesheet" href="./css/index.css" />
</head>
<body>
    <div id="app">
        <div class="btns">
            <el-button type="success" @click="handleRow">分隔行</el-button> &nbsp;
            <el-button type="primary" @click="handleAdd">添加行</el-button>
        </div>
        <table class="table" border="1px">
            <tr>
                <th v-for="(item, i) in columns" :key="i" style="text-align: start;" class="pd10">{{ item.label }}</th>
            </tr>
            <tbody>
                <tr v-for="(item, i) in data" :key="i">
                    <td v-for="(col, _i) in columns" :key="_i">
                        <template v-if="item.row">
                            <div class="pd10" v-if="col.prop === 'opt'">
                                <el-button plain type="danger" size="small" @click="handleDel(i)">删除</el-button>
                            </div>
                            <div v-else class="aff"></div>
                        </template>
                        <div class="pd10" v-else>
                            <div v-if="col.prop === 'a'">
                                <el-input v-model="data[i][col.prop]" style="width: 140px" :placeholder="col.label" />
                            </div>
                            <div v-else-if="col.prop === 'b'">
                                <el-input v-model="data[i][col.prop]" style="width: 140px" :placeholder="col.label" />
                            </div>
                            <div v-else-if="col.prop === 'blance'">
                                <el-input v-model="data[i][col.prop]" style="width: 140px" :placeholder="col.label" />
                            </div>
                            <div v-else-if="col.prop === 'status'">
                                <el-button v-if="!data[i][col.prop] || data[i][col.prop] === 1" type="success" size="small" @click="data[i][col.prop] = 1">成功</el-button>
                                <el-button v-if="!data[i][col.prop] || data[i][col.prop] === 2" type="danger" size="small" @click="data[i][col.prop] = 2">失败</el-button>
                            </div>
                            <div v-else-if="col.prop === 'index'">
                                {{ data.length - i }}
                            </div>
                            <div v-else-if="col.prop === 'ablance'">
                                <span>{{ item.a }} {{ item.blance }}</span>
                                <el-button plain type="success" size="small" @click="handleCopy(`${item.a || ''} ${item.blance || ''}`)">复制</el-button>
                            </div>
                            <div v-else-if="col.prop === 'bblance'">
                                <span>{{ item.b }} {{ item.blance }}</span>
                                <el-button plain type="success" size="small" @click="handleCopy(`${item.b || ''} ${item.blance || ''}`)">复制</el-button>
                            </div>
                            <div v-else-if="col.prop === 'opt'">
                                <el-button plain type="danger" size="small" @click="handleDel(i)">删除</el-button>
                            </div>
                            <div v-else-if="col.check">
                                <el-checkbox v-if="!data[i - 1] || data[i - 1].row" v-model="data[i][col.prop]" @change="handleCheckCange(i)" />
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <el-card>
            <div class="flex">
                <div class="f-1">
                    A账号：
                    <div>
                        <div v-for="(o, i) in groupData">{{ o.a }}</div>
                    </div>
                </div>
                <div class="f-1">
                    B账号：
                    <div>
                        <div v-for="(o, i) in groupData">{{ o.b }}</div>
                    </div>
                </div>
                <div class="f-1">
                    A账号余额：
                    <div>
                        <div v-for="(o, i) in groupData">{{ o.a }} {{ o.blance }}</div>
                    </div>
                </div>
                <div class="f-1">
                    B账号余额：
                    <div>
                        <div v-for="(o, i) in groupData">{{ o.b }} {{ o.blance }}</div>
                    </div>
                </div>
            </div>
        </el-card>
    </div>
    
    <script>
        const { createApp, ref, watch, computed } = Vue
        const { ElMessage } = ElementPlus
        const app = createApp({
            setup() {
                const dd = localStorage.getItem('data')
                const data = ref(dd ? JSON.parse(dd) : [{}])
                const columns = ref([
                    { label: '分区', check: true, prop: 'check' },
                    { label: 'A账号', prop: 'a' },
                    { label: 'B账号', prop: 'b' },
                    { label: '余额', prop: 'blance' },
                    { label: '状态', prop: 'status' },
                    { label: '序号', prop: 'index' },
                    { label: 'A账号余额', prop: 'ablance' },
                    { label: 'B账号余额', prop: 'bblance' },
                    { label: '操作', prop: 'opt' },
                ])
                const index = ref(0)
                const groupData = computed(() => {
                    const i = index.value
                    const arr = []
                    for(const [k, o] of Object.entries(data.value)) {
                        if (k >= i) {
                            if (o.row) break
                            arr.push(o)
                        }
                    }
                    return arr
                })
                const handleDel = (i) => {
                    data.value.splice(i, 1)
                }
                const handleAdd = () => {
                    data.value.unshift({})
                }
                const handleCopy = (txt) => {
                    if (navigator.clipboard) {
                        navigator.clipboard.writeText(txt)
                    } else {
                        const textarea = document.createElement('textarea')
                        document.body.appendChild(textarea)
                        // 隐藏此输入框
                        textarea.style.position = 'fixed'
                        textarea.style.clip = 'rect(0 0 0 0)'
                        // 赋值
                        textarea.value = txt
                        // 选中
                        textarea.select()
                        // 复制
                        document.execCommand('copy', true)
                        // 移除输入框
                        document.body.removeChild(textarea)
                    }
                    ElMessage.success('复制成功: ' + txt)
                }
                const handleSave = () => {
                    localStorage.setItem('data', JSON.stringify(data.value))
                }
                const handleRow = () => {
                    data.value.unshift({ row: 1 })
                }
                const handleCheckCange = (i) => {
                    if (data.value[i]?.check) {
                        index.value = i
                        for(const [h] of Object.entries(data.value)) {
                            if (h != i) {
                                data.value[h].check = false
                            }
                        }
                    }
                }
                // 自动保存
                watch(data.value, () => {
                    handleSave()
                })
                return {
                    data,
                    columns,
                    groupData,
                    handleCopy,
                    handleDel,
                    handleAdd,
                    handleRow,
                    handleCheckCange
                }
            }
        })
        app.use(ElementPlus)
        app.mount('#app')
    </script>
</body>
</html>